<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="gallagher.nuget.org" value="https://artifactory.local.gallagher.io/artifactory/api/nuget/rnd/" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="gallagher.nuget.org">
      <package pattern="Gallagher.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
